body,
div,
h1,
h2,
h3,
h4,
p
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input,
button,
textarea
{
    outline: none;
}

a:link,
a:visited
{
    text-decoration: none;

    color: #1abc9c;

    target: new front;
}

body
{
    font-family: 'Microsoft Yahei','黑体',arial,sans-serif;

    min-height: 600px;
    margin: 0;
    padding: 0;

    background-color: #eee;
}

#logo
{
    font-family: serif;
    font-size: 100px;
    font-style: italic;

    position: absolute;
    top: 25%;
    right: 0;
    left: 580px;

    text-align: center;

    color: #aaa;
}

#notebook-div
{
    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 100%;

    background-color: #2c3e50;
}

#notebook-div > h1
{
    font-size: 30px;
    line-height: 100px;

    height: 100px;

    text-align: center;

    color: #fff;
}

#notebook-list
{
    font-size: 20px;

    padding: 0;

    list-style: none;

    text-indent: 20px;

    color: #777;
}

#notebook-list > li
{
    line-height: 40px;

    height: 40px;
    margin-top: 1px;
}

#notebook-list > li:hover,
#notebook-list > li.current
{
    color: #fff;
    background-color: #34495e;
}



@font-face
{
    font-family: 'iconfont';

    src: url('http://at.alicdn.com/t/font_1438007816_2022264.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1438007816_2022264.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://at.alicdn.com/t/font_1438007816_2022264.woff') format('woff'), /* chrome、firefox */
    url('http://at.alicdn.com/t/font_1438007816_2022264.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://at.alicdn.com/t/font_1438007816_2022264.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont
{
    font-family: 'iconfont' !important;
    font-size: 24px;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

#add-notebook
{
    position: relative;
    top: 20px;
    left: 40px;

    color: #bbb;
    border: 0;
    background-color: #2c3e50;
}

#notebook-edit-button
{
    position: relative;
    top: 20px;
    left: 40px;

    color: #bbb;
    border: 0;
    background-color: #2c3e50;
}

#notebook-del-button
{
    position: relative;
    top: 20px;
    left: 40px;

    color: #bbb;
    border: 0;
    background-color: #2c3e50;
}

#notebook-edit-button:hover,
#notebook-del-button:hover,
#add-notebook:hover
{
    /*  background-color: #313030;*/
    color: #fff;
}

#recycle-notebook
{
    font-size: 25px;

    position: absolute;
    bottom: 20px;
    left: 25px;

    width: 155px;
    height: 40px;

    color: #777;
    border: 0;
    border-radius: 5px;
    background-color: #34495e;
}

#recycle-notebook:hover
{
    /*  background-color: #313030;*/
    color: #fff;
}

#note-div
{
    position: absolute;
    top: 0;
    left: 210px;

    width: 370px;
    height: 100%;

    background-color: #fff;
}

#note-div > h1
{
    font-size: 30px;
    line-height: 100px;

    height: 100px;

    text-indent: 20px;

    color: #888;
}

#add-note
{
    font-size: 20px;
    line-height: 30px;

    position: absolute;
    top: 55px;
    right: 20px;

    width: 150px;
    height: 30px;

    color: #eee;
    border: 0;
    border-radius: 3px;
    background-color: #c0392b;
}

#add-note:after
{
    font-size: 17px;

    content: 'New Note';
}

#add-note:hover
{
    color: #fff;
    background-color: #e74c3c;
}

#note-list
{
    position: absolute;
    top: 135px;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    margin: 10px;
    padding: 0;

    list-style: none;

    word-break: break-all;
}

#note-list > li
{
    margin-bottom: 5px;

    border: 1px solid #fff;
    background-color: #f6f6f6;
}

#note-list > li.current
{
    border: 1px solid #2ecc71;
    background-color: #fff;
}

#note-list > li > h2
{
    font-size: 15px;
    font-weight: 600;

    margin: 0 5px;
    padding-top: 5px;
}

#note-list > li > p
{
    font-size: 15px;

    overflow: hidden;

    height: 49px;
    margin: 0 10px ;
    padding-top: 5px;
    padding-bottom: 10px;

    color: #3b3b3b;
}

.note-del-button
{
    font-size: 19px;

    display: none;
    float: right;

    margin: -23px 2px 5px 5px;

    border: 0;
    background-color: rgba(0,0,0,0);
}

#note-list > li:hover .note-del-button
{
    display: block;
}

#content-div
{
    position: absolute;
    top: 0;
    right: 0;
    left: 590px;

    display: none;

    min-width: 600px;
    height: 100%;

    background-color: #da3610;
}

#content-div:hover #note-edit-button
{
    display: block;
}

#note-title
{
    display: table-cell;

    width: 100%;
    height: 140px;
    min-height: 140px;
    margin: 0;
    padding: 25px 85px 25px 25px;

    vertical-align: middle;
    word-break: break-all;

    color: #fff;
    background-color: #da3610;
}


#note-edit-button
{
    font-size: 40px;

    position: absolute;
    top: 50px;
    right: 30px;

    display: none;

    color: #fff;
    border: 0;
    background-color: #da3610;
}

#note-close-button
{
    font-size: 30px;

    position: absolute;
    top: 10px;
    right: 10px;

    color: #aaa;
    border: 0;
    background-color: #da3610;
}

#note-close-button:hover
{
    color: #fff;
}

#content
{
    position: absolute;
    top: 140px;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    padding-left: 10px;

    word-break: break-word;

    background-color: white;
}


#content-edit-div
{
    position: absolute;
    top: 0;
    right: 0;
    left: 590px;

    display: none;

    min-width: 600px;
    height: 100%;

    background-color: #2c3e50;
}

#content-edit-div h1
{
    position: absolute;
    top: 95px;

    width: 100%;
    height: 50px;
    margin: 0;

    border: 0;
    background-color: white;
}

#content-edit-div h1 input
{
    font-size: 30px;
    line-height: 100%;

    width: 75%;
    height: 100%;
    padding: 0;

    text-indent: 10px;

    color: #2c3e50;
    border: 0;
}

#content-edit-div hr
{
    position: relative;
    top: 144px;

    width: 50%;
    margin: 0 0;

    border: 0;
    border-top: 1px dashed #000;
}

#content-edit-textarea
{
    font-size: 15px;
    line-height: 1.5;

    position: absolute;
    top: 145px;
    bottom: 0;

    width: 100%;
    padding: 10px;

    border: 0;
}


#content-edit-div > button
{
    font-size: 35px;
    font-weight: 600;

    position: absolute;

    color: #aaa;
    border: 0;
    background-color: #fff;
}

#content-edit-div > button:hover
{
    color: #000;
}

#content-edit-div > button:focus
{
    color: #555;
}


#content-edit-ok
{
    top: 100px;
    right: 82px;
}

#content-edit-cancel
{
    top: 100px;
    right: 27px;
}
